<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <ImageUploader msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import ImageUploader from '@/components/ImageUploader.vue'

export default {
  name: 'HomeView',
  components: {
    ImageUploader
  }
}
</script>
