<template>
    <div class="container">
      <form @submit.prevent="uploadImage">
        <input type="file" ref="fileInput" @change="handleFileChange" accept=".jpg, .jpeg, .png" />
        <button type="submit" :disabled="loading">Upload</button>
      </form>
  
      <div class="always-displayed">
        <!-- Always displayed content -->
        <p>This div is always displayed.</p>
      </div>
  
      <div v-if="loading" class="loading-spinner">
        <!-- Loading spinner -->
        Loading...
      </div>
  
      <div v-else-if="imageUrl" class="image-container">
        <!-- Image with boxes -->
        <canvas ref="imageCanvas" :width="canvasWidth" :height="canvasHeight"></canvas>
      </div>
  
      <div v-else>
        <!-- Result content -->
        <p>Alert: {{ alert }}</p>
        <p>Box: {{ box }}</p>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        imageUrl: null,
        selectedFile: null,
        alert: "np",
        box: null,
        loading: false,
        canvasWidth: 0,
        canvasHeight: 0,
      };
    },
    methods: {
      handleFileChange(event) {
        const file = event.target.files[0];
        if (file) {
          const allowedFormats = ['image/jpeg', 'image/jpg', 'image/png'];
  
          if (allowedFormats.includes(file.type)) {
            this.selectedFile = file;
            this.displayImage(file);
          } else {
            alert('Invalid file format. Please select a JPG or PNG file.');
            this.$refs.fileInput.value = null; // Clear the input field
          }
        }
      },
      displayImage(file) {
        this.box=[]
        const reader = new FileReader();
        reader.onload = () => {
          this.imageUrl = reader.result;
  
          // Draw boxes once the image is loaded
          const img = new Image();
          img.src = this.imageUrl;
          img.onload = () => {
            // Calculate new dimensions while maintaining the aspect ratio
            const aspectRatio = img.width / img.height;
            let newWidth = Math.min(img.width, 800);
            let newHeight = newWidth / aspectRatio;
  
            if (newHeight > 500) {
              newHeight = Math.min(img.height, 500);
              newWidth = newHeight * aspectRatio;
            }
  
            this.canvasWidth = newWidth;
            this.canvasHeight = newHeight;
  
            this.drawBoxesOnImage();
          };
        };
        reader.readAsDataURL(file);
      },
      async uploadImage() {
        if (this.selectedFile) {
          this.loading = true;
          const formData = new FormData();
          formData.append('image', this.selectedFile);
  
          try {
            const response = await axios.post(
              //'https://europe-west1-promiseq-production2.cloudfunctions.net/sendToThreatDetect',
              'https://api-seven-lemon-15.vercel.app/upload',
              formData,
              {
                headers: {
                  'promiseq-subscription-key': '77158c11-2489-41ed-a973-1e',
                  'client-id': 'default-client',
                  'Content-Type': 'multipart/form-data',
                },
              }
            );
  
            console.log('Response:', response.data);
            this.alert = response.data['job_result'];
            this.box = response.data['metadata'];
            this.drawBoxesOnImage(); // Draw boxes when API response is received
          } catch (error) {
            console.error('Error uploading image:', error);
          } finally {
            this.loading = false;
          }
        } else {
          alert('Please select an image first.');
        }
      },
      drawBoxesOnImage() {
        // Get the canvas context
        const canvas = this.$refs.imageCanvas;
        if (!canvas) {
          // Canvas not available yet, try again later
          setTimeout(this.drawBoxesOnImage, 100);
          return;
        }
        const ctx = canvas.getContext('2d');
  
        // Clear previous drawings
        ctx.clearRect(0, 0, canvas.width, canvas.height);
  
        // Draw the image
        const img = new Image();
        img.src = this.imageUrl;
        img.onload = () => {
          // Draw the image with new dimensions
          ctx.drawImage(img, 0, 0, this.canvasWidth, this.canvasHeight);
  
          // Draw boxes based on API response coordinates
          if (this.box && this.box.length > 0) {
            this.box.forEach(box => {
              const { xmin, ymin, xmax, ymax } = box.bbox;
              const xMin = xmin * this.canvasWidth;
              const yMin = ymin * this.canvasHeight;
              const xMax = xmax * this.canvasWidth;
              const yMax = ymax * this.canvasHeight;
  
              // Draw rectangle
              ctx.beginPath();
              ctx.rect(xMin, yMin, xMax - xMin, yMax - yMin);
              ctx.strokeStyle = 'red';
              ctx.lineWidth = 2;
              ctx.stroke();
  
              // Display confidence and class as text
              const text = `Class: ${box.class}\nConfidence: ${box.confidence}`;
              ctx.font = '12px Arial';
              ctx.fillStyle = 'red';
              ctx.fillText(text, xMin, yMin - 5);
            });
          }
        };
      },
    },
  };
  </script>
  
  <style scoped>
  /* Add your component styles here */
  .image-container {
    position: relative;
  }
  
  .loading-spinner {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .always-displayed {
    margin-top: 20px;
  }
  </style>
  